<h1>Add Vitals</h1>
<form class="well" >
        <div class="form-group">
          <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Patient ID"> 
          <input type="text" [(ngModel)]="isbn"  name="isbn" class="form-control" placeholder="Patient Name">  
          <input type="text" [(ngModel)]="section"  name="section" class="form-control" placeholder="Temperature">  
          <input type="text" [(ngModel)]="author"  name="author" class="form-control" placeholder="Heart Rate">   

          <input type="text" [(ngModel)]="respRate"  name="section" class="form-control" placeholder="Respiratory Rate">  
          <input type="text" [(ngModel)]="bloodPress"  name="author" class="form-control" placeholder="Blood Pressure">

          <input type="text" [(ngModel)]="tipOfDay"  name="section" class="form-control" placeholder="Tip-Video">  
          <input type="text" [(ngModel)]="emergEmail"  name="author" class="form-control" placeholder="Emergency Email">

          <input type="text" [(ngModel)]="dateCreated"  name="author" class="form-control" placeholder="Date">

          <input class="btn btn-success my-2 my-sm-0" type="submit" (click)="addTask($event)"  value="SAVE" >      

        </div>  
  </form>
  
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1>Patient List</h1>
            
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <thead>
                    <tr>
                        <th class="text-center">Patient ID</th>
                        <th class="text-center">Patient Name</th>
                        <th class="text-center">Temperature</th>
                        <th class="text-center">Heart Rate</th>
                        
                        
    
                        <th class="text-center">Respiratory</th>
                        <th class="text-center">Blood Pressure</th>
                        <th class="text-center">Tip-Video</th>
                        <th class="text-center">Emergency Email</th>
                        <th class="text-center">Reading Date</th>
                        <th class="text-center"></th>
                       
                    </tr>
                </thead>
  
                <!-- Repeatable Template Row -->
                    <tbody>
                        <tr *ngFor="let task of tasks">
                            <td class="text-center">{{task.title}}</td>
                            <td class="text-center">{{task.isbn}}</td>
                            <td class="text-center">{{task.section}}</td>
                            <td class="text-center">{{task.author}}</td>
                            
                            
    
                           <td class="text-center">{{task.respRate}}</td>
                            <td class="text-center">{{task.bloodPress}}</td>
                            <td class="text-center"><a href="{{task.tipOfDay}}" target="_blank">{{task.tipOfDay}}</a></td>
                            <td class="text-center"><a href="mailto:{{task.emergEmail}}">{{task.emergEmail}}</a></td>
                            <td class="text-center">{{task.dateCreated}}</td>
      
                            <td class="text-center">
                                <input class="btn btn-danger" type="button" (click)="deleteTask(task._id)"  value='Delete' >      
                            </td>
                        </tr>
                    </tbody>
            </table>
  
        </div>
    </div>
  </div>